/* importing a font type named rubik from google font APIs  */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap');


/* {index.css is the global level where you can conrol all syting of your page}; */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  
}

/* Here i can remove the underlying that exist for every clickable teamName by passing  */
a {
  text-decoration: none;
}




body {
 
  font-family: 'Rubik', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  background-color: #282c34;
  color: white;

  max-width: 1100px;
  margin: 0 auto;
  
}

a{
  color: lightgray;
}


